<div class="content">
  <h1 class="header">
    Edit Contact
  </h1>
  <form (ngSubmit)="saveContact(contactForm)" #contactForm="ngForm">
    <section>
      <nav>Name/Info</nav>
      <div>
        <con-profile-icon-selector [(ngModel)]="contact.icon" name="icon"/>
        <input hidden [ngModel]="contact.id" name="id"/>
        <input
          [(ngModel)]="contact.firstName"
          placeholder="First Name"
          required
          minlength="3"
          #firstName="ngModel"
          name="firstName"
          [class.error]="firstName.invalid && (firstName.dirty || firstName.touched)"
        />
        @if (firstName.errors?.['required'] && (firstName.dirty || firstName.touched)) {
          <em>Please enter a First Name</em>
        }
        @if (firstName.errors?.['minlength'] && (firstName.dirty || firstName.touched)) {
          <em>Please enter a First Name of at least three characters</em>
        }
        <input
          [(ngModel)]="contact.lastName"
          placeholder="Last Name"
          required
          #lastName="ngModel"
          name="lastName"
          [class.error]="lastName.invalid && (lastName.dirty || lastName.touched)"
        />
        @if (lastName.invalid && (lastName.dirty || lastName.touched)) {
          <em>Please enter a Last Name</em>
        }
        <input [(ngModel)]="contact.dateOfBirth" placeholder="Date of Birth" name="dateOfBirth" required
               #dateOfBirth="ngModel" type="date"/>
        @if (dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)) {
          <em>Please enter a Date of Birth</em>
        }
        <div>
          <span>Favorites Ranking:</span>
          <input type="range" min="0" max="5" [(ngModel)]="contact.favoritesRanking" placeholder="Favorites Ranking"
                 name="favoritesRanking"/>
          <span>{{ contact.favoritesRanking }}</span>
        </div>
        <div>
          <input [(ngModel)]="contact.personal" type="checkbox" placeholder="Personal" name="personal"/> Personal
        </div>
      </div>
    </section>
    <section>
      <nav>Phones</nav>
      <div class="flex-column" ngModelGroup="phones">
        @for (phone of contact.phones; let i = $index; track i) {
          <div class="flex-column">
            <div class="flex-group">
              <input [(ngModel)]="phone.phoneNumber" placeholder="Phone" name="phoneNumber{{i}}"/>
              <img src="/assets/plus-grey-blue.png" (click)="addPhone()" class="add"/>
            </div>
            <div class="radio">
              @for (phoneType of phoneTypes; track $index) {
                <input [(ngModel)]="phone.phoneType" type="radio" [value]="phoneType.value"
                       name="phoneType{{i}}"/> {{ phoneType.title }}
              }
            </div>
          </div>
        }
      </div>
    </section>
    <section>
      <nav>Address</nav>
      <div>
        <div class="address" ngModelGroup="address" #addressGroup="ngModelGroup"
             [class.error]="(addressGroup.invalid && (addressGroup.dirty || addressGroup.touched))">
          <div class="flex-group">
            <input [(ngModel)]="contact.address.streetAddress" placeholder="Address" name="streetAddress" required/>
            <img src="/assets/plus-grey-blue.png" class="add"/>
          </div>
          <input [(ngModel)]="contact.address.city" placeholder="City" name="city" required/>
          <input [(ngModel)]="contact.address.state" placeholder="State/Region" name="state" required/>
          <input [(ngModel)]="contact.address.postalCode" placeholder="Zip/Postal Code" name="postalCode" required/>
          <select [(ngModel)]="contact.address.addressType" name="addressType" required>
            @for (addressType of addressTypes; track $index) {
              <option [value]="addressType.value" name="addressType"> {{ addressType.title }}
                }
          </select>
        </div>
        @if (addressGroup.invalid && (addressGroup.dirty || addressGroup.touched)) {
          <em>Incomplete Address</em>
        }
      </div>
    </section>
    <section>
      <nav>Notes</nav>
      <div>
        <textarea [class.error]="notes.invalid" [(ngModel)]="contact.notes" rows="3" placeholder="Notes"
                  [restrictedWords]="['foo','bar']" name="notes" #notes="ngModel"></textarea>
        <em *ngIf="notes.errors?.['restrictedWords']">Restricted words
          found: {{ notes.errors?.['restrictedWords'] }}</em>
      </div>
    </section>

    <div class="buttons">
      @if (contactForm.submitted) {
        <button disabled type="submit">Saving...</button>
      } @else {
        <button class="secondary" type="button">Cancel</button>
        <button class="primary" [disabled]="contactForm.invalid" type="submit">Save</button>
      }
    </div>
  </form>
</div>
