<div class="content">
  <h1 class="header">
    Edit Contact
  </h1>
  <form (ngSubmit)="saveContact(contactForm)" #contactForm="ngForm">
    <section>
      <nav>Name/Info</nav>
      <div>
        <input hidden [ngModel]="contact.id" name="id"/>
        <input [(ngModel)]="contact.firstName" placeholder="First Name" name="firstName"/>
        <input [(ngModel)]="contact.lastName" placeholder="Last Name" name="lastName"/>
        <input [(ngModel)]="contact.dateOfBirth" placeholder="Date of Birth" name="dateOfBirth" type="date"/>
        <div>
          <span>Favorites Ranking:</span>
          <input type="range" min="0" max="5" [(ngModel)]="contact.favoritesRanking" placeholder="Favorites Ranking"
                 name="favoritesRanking"/>
          <span>{{ contact.favoritesRanking }}</span>
        </div>
        <div>
          <input [(ngModel)]="contact.personal" type="checkbox" placeholder="Personal" name="personal"/> Personal
        </div>
      </div>
    </section>
    <section>
      <nav>Phone</nav>
      <div class="flex-column" ngModelGroup="phone">
        <div class="flex-group">
          <input [(ngModel)]="contact.phone.phoneNumber" placeholder="Phone" name="phoneNumber"/>
          <img src="/assets/plus-grey-blue.png" class="add"/>
        </div>
        <div class="radio">
          @for (phoneType of phoneTypes; track $index) {
            <input [(ngModel)]="contact.phone.phoneType" type="radio" [value]="phoneType.value"
                   name="phoneType"> {{ phoneType.title }}
          }
        </div>
      </div>
    </section>
    <section>
      <nav>Address</nav>
      <div>
        <div class="address" ngModelGroup="address">
          <div class="flex-group">
            <input [(ngModel)]="contact.address.streetAddress" placeholder="Address" name="streetAddress"/>
            <img src="/assets/plus-grey-blue.png" class="add"/>
          </div>
          <input [(ngModel)]="contact.address.city" placeholder="City" name="city"/>
          <input [(ngModel)]="contact.address.state" placeholder="State/Region" name="state"/>
          <input [(ngModel)]="contact.address.postalCode" placeholder="Zip/Postal Code" name="postalCode"/>
          <select [(ngModel)]="contact.address.addressType" name="addressType">
            @for (addressType of addressTypes; track $index) {
              <option [value]="addressType.value" name="addressType"> {{ addressType.title }}
                }
          </select>
        </div>
      </div>
    </section>
    <section>
      <nav>Notes</nav>
      <div>
        <textarea [(ngModel)]="contact.notes" rows="3" placeholder="Notes" name="notes"></textarea>
      </div>
    </section>

    <div class="buttons">
      @if (contactForm.submitted) {
        <button disabled type="submit">Saving...</button>
      } @else {
        <button class="secondary" type="button">Cancel</button>
        <button class="primary" type="submit">Save</button>
      }
    </div>
  </form>
</div>
