<div class="container">
  <form (ngSubmit)="signIn()" class="form">
    <img class="logo" src="/assets/images/logo.png" alt="logo-robot-shop"/>
    <div class="sign-in">Sign In</div>
    <div class="sub-text">to acquire awesome bots</div>
    <input
      [(ngModel)]="credentials.email"
      name="email"
      placeholder="Email Address"
      type="text"
    />
    <input
      [(ngModel)]="credentials.password"
      name="password"
      placeholder="Password"
      type="password"
    />
    <div class="buttons">
      <button type="submit" class="button cta">
        Sign In
      </button>
    </div>
  </form>
</div>
